<nav>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                   class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img width="115" height="75" src="/static/images/logo.png" alt="OkeOU">
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link flex-row">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link flex-row">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link flex-row">
                            Products
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"   
                            href="#"
                            role="button"
                            aria-expanded="false">
                            Xin chào!
                            <img src="https://github.com/mdo.png" alt="mdo" width="28" height="28"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Thông tin hồ sơ</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/login" class="nav-link flex-row">
                            Đăng nhập
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>