<nav>
    <div class="px-3 py-2 text-bg-dark border-bottom" data-bs-theme="dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                   class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img width="115" height="75" src="/static/images/logo.png" alt="OkeOU">
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/" class="nav-link flex-row {{ 'active' if request.path == '/' else '' }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link flex-row {{ 'active' if request.path == '/orders' else '' }}">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/payments"
                           class="nav-link flex-row {{ 'active' if request.path == '/payments' else '' }}">
                            Payments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/rooms"
                           class="nav-link flex-row {{ 'active' if request.path.startswith('/rooms') else '' }}">
                            Rooms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/products"
                           class="nav-link flex-row {{ 'active' if request.path.startswith('/products') else '' }}">
                            Products
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-expanded="false">
                            Xin chào!
                            <img src="{{ current_user.avatar }}" alt="{{ current_user.name }}" width="28" height="28"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Thông tin hồ sơ</a></li>
                            {% if current_user.is_admin %}
                            <li><a class="dropdown-item" href="/admin">Trang quản trị</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/login" class="nav-link flex-row">
                            Đăng nhập
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>