{% extends 'layout/base.html' %}

{% block title %}
Trang chủ
{% endblock %}

{% block content %}
{% set current_cart = session.get('order', {}).get(ss.id|string, {}) %}
{% set current_stats = current_cart | cart_stats %}

<div class="container flex-grow-1">
    <div class="row">
        <div class="col-4">
            <h4 class="mt-3 mb-4">Phiên làm việc</h4>
            {% if ss %}
            <div class="card transition-card glass-effect text-white">
                <div class="card-body">
                    <h4 class="card-title text-success">{{ ss.room.name }}#{{ ss.id }}</h4>
                    <p class="card-text">Người dùng: {{ 'Vãng lai' if ss.user.id == 1 else ss.user.name }}</p>
                    {% if ss.status.name == 'ACTIVE' %}
                    <p class="card-text">Trạng thái: <span class="alert alert-success">{{ ss.status.name }}</span></p>
                    {% elif ss.status.name == 'FINISHED' %}
                    <p class="card-text">Trạng thái: <span class="alert alert-danger">{{ ss.status.name }}</span></p>
                    {% else %}
                    <p class="card-text">Trạng thái: <span class="alert alert-warning">{{ ss.status.name }}</span></p>
                    {% endif %}
                    <p class="card-text"> Thời gian bắt đầu: {{ ss.start_time.strftime('%H:%M:%S %d-%m-%Y') }}</p>
                    <p class="card-text"> Thời gian kết thúc: {{ ss.end_time.strftime('%H:%M:%S %d-%m-%Y') }}</p>
                </div>
            </div>
            {% else %}
            <div class="alert alert-danger mt-2 w-100">Lỗi: Không có phiên làm việc nào!</div>
            {% endif %}
            <h4 class="mt-3 mb-4">Sản phẩm được lựa chọn:</h4>
            {% if current_cart %}
            <div class="d-flex flex-column gap-3">
                <div class="w-100 overflow-y-scroll" style="max-height: 400px;">
                    <table class="table align-middle">
                        <thead class="table">
                        <tr>
                            <th class="text-white">Dịch vụ</th>
                            <th class="text-white">Giá tiền</th>
                            <th class="text-center text-white">Số lượng</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in current_cart.values() %}
                        <tr id="cart{{ o.id }}">
                            <td>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="{{ o.image }}" alt="..." style="width:90px; height:90px; object-fit:cover;">
                                    </div>
                                    <div class="flex-grow-1 ms-3 text-white">
                                        {{ o.name }}
                                    </div>
                                </div>
                            </td>
                            <td class="text-white">{{ '{:,.0f}'.format(o.price) }}</td>
                            <td class="text-center text-white">
                                <input type="number"
                                    value="{{ o.quantity }}"
                                    class="form-control form-control-sm mx-auto"
                                    style="width:70px"
                                    min="1"
                                    max="30"
                                    oninput="limitQuantity(this)"
                                    onblur="updateOrder({{ ss.id }}, {{ o.id }}, this)">
                            </td>
                            <td class="text-center">
                                <button class="btn btn-outline-danger btn-sm"
                                        onclick="deleteOrder({{ ss.id }}, {{ o.id }})">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="p-3 w-100 border rounded">
                    <div class="fw-bold mb-2">Tổng tiền dịch vụ</div>

                    <div>
                        <div class="d-flex justify-content-between py-2">
                            <span>Tạm tính:</span>
                            <span class="order-amount">{{ '{:,.0f}'.format(current_stats.total_amount) }} VND</span>
                        </div>

                        <div class="d-flex justify-content-between py-2">
                            <span>Giảm giá:</span>
                            <span>0 VND</span>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-between fw-bold py-2">
                            <span>Tổng cộng:</span>
                            <span class="order-amount">{{ '{:,.0f}'.format(current_stats.total_amount) }} VND</span>
                        </div>
                        {% if current_user.is_authenticated %}
                        <button class="btn btn-primary w-100 mt-2" type="button" onclick="orderProcess({{ ss.id }})">
                            Tiến hành đặt
                        </button>
                        {% else %}
                        <div>
                            Vui lòng <a href="/login?next=/orders">đăng nhập</a> để thanh toán
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="text-center m-3 p-3">
                <div class="mb-3 fs-1 text-secondary">
                    <i class="bi bi-bag-plus"></i>
                </div>
                <p class="fs-5">Chưa có dịch vụ được đặt</p>
                <a href="/staffs/products"><button class="btn btn-primary px-4" type="button">Tiếp tục đặt dịch vụ</button></a>

            </div>
            {% endif %}
        </div>
        <div class="col-8">
            <form method="get" action="/products" class="d-flex align-items-center gap-2 mt-3 mb-4">
                <input class="form-control me-2 w-50" type="text" placeholder="Từ khóa" name="kw">
                <button class="btn btn-success" type="submit">Tìm</button>
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown">
                        Filter
                    </button>
                    <ul class="dropdown-menu" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="/staffs/{{ session.id }}/order">Tất cả</a></li>
                        {% for c in categories %}
                        <li><a class="dropdown-item" href="?category_id={{ c.id }}">{{ c }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
            {% if products %}
            <div class="row">
                {% for p in products %}
                <div class="col-md-4 col-6 p-2">
                    <div class="card transition-card glass-effect text-white">
                        <img class="card-img-top"
                            src="{{ p.image }}"
                            style="height: 200px; object-fit: cover;"
                            alt="{{ p.name }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ p.name }}</h4>
                            <p class="card-text">Số lượng: {{ p.amount }} {{ p.unit }}</p>
                            <p class="card-text">Giá: {{ '{:,.0f}'.format(p.price) }} VND</p>
                            <a href="#" class="btn btn-primary">Xem chi tiết</a>
                            <button class="btn btn-danger"
                                    onclick="addToOrder({{ ss.id }}, {{ p.id }}, '{{ p.image }}', '{{ p.name }}', {{ p.price }})">
                                Đặt hàng ngay
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-danger mt-2">Không có sản phẩm nào!</div>
            {% endif %}
            <div class="d-flex justify-content-center">
                {% if pages > 1 %}
                <ul class="pagination mt-2">
                    {% for i in range(1, pages + 1) %}
                    <li class="page-item"><a class="page-link glass-effect" href="/staffs/{{ ss.id }}/order?page={{i}}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}