{% extends 'layout/base.html' %}

{% block title %}
Trang đăng nhập
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section class="bg-dark align-content-center vh-100">
    <div class="container form-signin w-50">
        <form class="m-auto">
            <div class="navbar">
                <img src="/static/images/logo.png" alt="logo" width="80" height="50">
                <a href="/" class="text-white-50">< Trở về trang chủ</a>
            </div>
            <h1 class="h3 mb-3 fw-normal text-white">Please sign in</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput"
                       placeholder="name@example.com">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2 my-3" type="submit">Đăng nhập</button>
            <a class="btn btn-secondary w-100 py-2 m-0" href="/register">Chưa có tài khoản? Đăng ký ngay!</a>
            <p class="mt-5 mb-3 text-body-secondary text-center">OkeOU © 2025</p>
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}