{% extends 'layout/base.html' %}

{% block title %}
Trang hồ sơ cá nhân
{% endblock %}

{% block content %}
<div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="row w-100 gx-5">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="{{ user.avatar }}" 
                alt="{{ user.name }}" 
                width="128" height="128"
                class="rounded-circle mb-3 shadow-sm">
            <button type="button" onclick="" 
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#changeAvatarModal">
                Đổi ảnh đại diện
            </button>
        </div>
        <div class="col-md-8">
            <h3>Hồ sơ cá nhân</h3>
            <div class="row mb-3 align-items-center">
                <div class="col-md-3">
                    <label for="name">Tên đầy đủ:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="{{ user.name }}" disabled>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-md-3">
                    <label for="name">Tên người dùng:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="{{ user.username }}" disabled>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-md-3">
                    <label for="name">Email:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="{{ user.email }}" disabled>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-md-3">
                    <label for="name">Số điện thoại:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="{{ user.phone }}" disabled>
                </div>
            </div>
            <div class="row">
                <button type="button" onclick="" class="btn btn-primary">Chỉnh sửa hồ sơ</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true"
    id="changeAvatarModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}