/* Occupied Bar Styles */

.occupied-bar {
    position: absolute;
    height: 100%;
    background-color: var(--bs-danger);
    opacity: 0.85;
    top: 0;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    cursor: not-allowed;
    transition: all 0.3s;
}
.occupied-bar:hover {
    opacity: 1;
    transform: scaleY(1.1);
    z-index: 10;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}

/* Payment Options Styles */

.payment-option input[type="radio"] {
    display: none; /* Ẩn nút radio mặc định */
}
.payment-option label {
    transition: all 0.2s;
    border: 1px solid #dee2e6;
}
/* Khi radio được check thì label đổi màu */
.payment-option input[type="radio"]:checked + label {
    border-color: #0d6efd;
    background-color: #f8f9fa;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
.cursor-pointer {
    cursor: pointer;
}